<style>
/* containers */
.aresHeaderRegion, .aresFooterRegion, .aresProductItemsList { width: 100%; clear: both; overflow: hidden;}
.aresHeaderImage img, .aresProductImage img  { width: 100%;}
.aresHeaderImage, .aresProductImage{ position: relative;}

/* positioning */
.aresHeaderRegion .aresHeaderImage { float: left;}
.aresHeaderRegion .aresBotContainer, .aresHeaderRegion .aresheaderTextContainer { float: right;}
.aresHeaderReversed .aresHeaderImage { float: right;}
.aresHeaderReversed .aresBotContainer { float: left;}
.aresHeaderImage .aresHeaderImageCaption { position: absolute; top: 50%; right: 0; left: 0; bottom: 0; z-index: 10; vertical-align: top;}
.aresHeaderImage .aresHeaderImageCaption * { vertical-align: top; display: inline;}
.aresHeaderImage .aresHeaderImageCaption h1 { display: block; margin: 0;}
.aresTicketBox .aresProductMore .aresProductAction, .aresTicketBoxWithImage .aresProductMore .aresProductAction { text-align: center !important;}
.aresProductMore .aresProductAction button { margin-top: 15px;}

/* widths */
.aresHeaderThreeQtr .aresHeaderImage { width: 75%;}
.aresHeaderThreeQtr .aresBotContainer,.aresHeaderThreeQtr .aresheaderTextContainer { width: 25%;}
.aresHeaderHalf .aresHeaderImage, .aresHeaderHalf .aresBotContainer, .aresHeaderHalf .aresheaderTextContainer{ width: 50%;}
.aresHeaderFull .aresHeaderImage, .aresHeaderFull .aresBotContainer, .aresHeaderFull .aresheaderTextContainer  { width: 100%;}

.aresProductTicket .aresProductImage { width: 20%; float: left;}
.aresTicketBox .aresProductInfo { width: auto; display: inline-block;}
.aresTicketBoxWithImage .aresProductInfo { width: 80%; display: inline-block;}
.aresTicketBox .aresProductInfoText, .aresTicketBox .aresProductMore, .aresTicketBoxWithImage .aresProductInfoText, .aresTicketBoxWithImage .aresProductMore { width: 48%; float: left;}
.aresTicketBox .aresProductMore .aresProductPrice, .aresTicketBoxWithImage .aresProductMore .aresProductPrice { width: 75% !important;}
.aresTicketBox .aresProductMore .aresProductAction, .aresTicketBoxWithImage .aresProductMore .aresProductAction { width: 25% !important;}

/* typo */
.aresFooterRegion h1{ font-size: 1.1em;}
.aresProductItemsList .aresProductItem .aresProductMore .aresProductPrice span { font-size: 1.5em;}
.aresProductItemsList.aresTier2 .aresProductItem .aresProductInfoText h1 { font-size: 1.7em;}
.aresProductItemsList.aresTier3 .aresProductItem .aresProductInfoText h1 { font-size: 1.5em;}
.aresProductItemsList.aresTier4 .aresProductItem .aresProductInfoText h1 { font-size: 1.2em;}
.aresProductItemsList .aresProductItem .aresProductMore .aresProductPrice .aresTicketType { font-size: 1em;}
ul.aresTicketPrice li span { font-size: 1em !important;}
.aresTextSmall { font-size: .8em !important;}
.aresProductItemsList .aresProductItem .aresProductMore .aresProductPrice, .aresProductItemsList .aresProductItem .aresProductMore .aresProductAction{ text-align: center;}
.aresProductTicket .aresProductAction { text-align: right !important;}

/* colors */
.aresHeaderImage .aresHeaderImageCaption { background-color: rgba(0,0,0,0.5); color: #fff;}

/* padding */
.aresHeaderImage .aresHeaderImageCaption { padding: 1em 2em;}
.aresProductItemsList .aresProductItem .aresProductInfoText h1 { padding:1em 0 0; margin: 0;}
.aresProductItemsList .aresProductItem .aresProductInfoText p { padding: 0; margin: 0 0 .5em 0;}
ul.aresTicketPrice li span { padding: .2em .5em;}
.aresTicketBoxWithImage .aresProductInfo { padding: 0 !important;}
.aresTicketBox .aresProductInfoText, .aresTicketBox .aresProductMore, .aresTicketBoxWithImage .aresProductInfoText, .aresTicketBoxWithImage .aresProductMore { padding: 1% 1% 0 1% !important;}
.aresTicketBox .aresProductMore, .aresTicketBoxWithImage .aresProductMore { padding-top: 45px !important;}
.aresTicketBox .aresProductItem .aresProductInfoText h1, .aresTicketBoxWithImage .aresProductItem .aresProductInfoText h1 { padding: 0;}

/* lists */
.aresProductItemsListWrap { display: block; padding: 20; background-color: #eee;}
.aresProductItemsList, .aresTicketPrice, .aresTicketLabels { list-style-type: none; padding: 0; margin: 0; display: block; clear: both;}
ul.aresTicketPrice li, ul.aresTicketLabels li { display: inline-block; width: 25%; float: left;}

/* types */
.aresProductHotel {}
.aresProductTicket {}
.aresProductPackage {}

/* buttons */
button {	font-family: Arial, Helvetica, sans-serif; color: #ffffff; padding: 5px 10px !important; background: -moz-linear-gradient( top, #40bcff 0%, #00568f);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#40bcff),
		to(#00568f));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #00749e;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 21px 0px rgba(255,255,255,0);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 21px 0px rgba(255,255,255,0); box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 21px 0px rgba(255,255,255,0); text-shadow:0px -1px 1px rgba(000,000,000,0.5),0px 1px 0px rgba(255,255,255,0); cursor: pointer;
	}
	
/* tiers */
.aresProductItemsList .aresProductItem .aresProductItemInner { padding: 1em; overflow: hidden;}
.aresProductItemsList .aresProductItem .aresProductMore .aresProductPrice, .aresProductItemsList .aresProductItem .aresProductMore .aresProductAction{ width: 50%; float: left;}
.aresProductItemsList .aresProductItem .aresProductMore .aresProductPrice span { display: block;}
.aresProductItemsList .aresProductItem .aresProductMore { padding: 0 0 .5em 0; overflow: hidden;}

/* tier 1 */
.aresProductItemsList.aresTier1 .aresProductItem { width: 100%; overflow: hidden;}
.aresProductItemsList.aresTier1 .aresProductItem .aresProductImage { width: 25%; float: left;}
.aresProductItemsList.aresTier1 .aresProductItem .aresProductInfoText, .aresProductItemsList.aresTier1 .aresProductItem .aresProductMore { float: right; width: 75%;}
.aresTicketBox .aresProductInfo .aresProductInfoText, .aresTicketBox .aresProductInfo .aresProductMore { }
.aresProductItemsList.aresTier1 .aresProductMore .aresProductAction button { margin-top: 30px; margin-right: 20px;}
.aresProductItemsList.aresTier1 .aresProductItem .aresProductImageInner { padding: 0 1em 0 0;}
.aresProductItemsList.aresTier1 .aresProductItem .aresProductInfoText h1 { padding: 0;}

/* tier 2 */
.aresProductItemsList.aresTier2 .aresProductItem { width: 50%; float: left;}
.aresProductTicket.aresTier2 .aresProductImage { width: auto; float: none;}
.aresProductTicket.aresTier2 .aresProductPrice, .aresProductTicket.aresTier2 .aresProductAction { display: block; width: auto !important; float: none !important; clear: both;}
.aresProductItemsList.aresTier2 .aresProductMore .aresProductAction button { margin-top: 15px; margin-right: 20px;}

/* tier 3 */
.aresProductItemsList.aresTier3 .aresProductItem { width: 33.3%; float: left;}
.aresProductTicket.aresTier3 .aresProductImage { width: auto; float: none;}
.aresProductTicket.aresTier3 .aresProductPrice, .aresProductTicket.aresTier3 .aresProductAction { display: block; width: auto !important; float: none !important; clear: both;}

/* tier 4 */
.aresProductItemsList.aresTier4 .aresProductItem { width: 25%; float: left;}


/* temp */
body { background-color: #ccc; font-family: arial;}
.aresLandingWrap { padding:1em; max-width: 1000px; margin: 0 auto;}
.aresBotContainer div { background-color: #fff; padding: 1em;}
.aresheaderTextContainer * { background-color: #fff; }
.aresFooterRegion * { background-color: #fff;}
.aresProductItem { background-color: #fff;}
.aresHeaderRegion, .aresFooterRegion, .aresProductItemsList { margin: 0 0 3em 0;}

</style>
<!-- headers -->
<div id="generatedDiv" ng-controller="GenerateCtrl">
<pre>
<h4>Site Info: </h4>
Bundle: {{bundleId}}
URL: {{clientURL}}
Background Color: {{bgColor}}
Text Color: {{txtColor}}
<section><u>Google Analytics code:</u><br>{{googleAnalytics}}</section>
</pre>
	<div class="aresLandingWrap">
	
		<div ng-repeat='container in containers'>
			<div ng-include src="url(container.component)" ng-class="containerClass(container.component)" class="aresHeaderRegion">
			</div>
		</div>
	
	
	<!-- end -->
	</div>
<a ng-click="raw(bundleId)" href="javascript:void(0)" class="btn btn-info m5">View Code</a>
</div> <!-- end GenerateCtrl -->