<section class="row-fluid row" id="products">
   <!-- Start Sidebar -->
   <div class="sidebar-nav-fixed">
      <ul class="nav nav-list">
         <li class="nav-header">Landing Page</li>
         <li class="active mt15px">
            <a>Content</a>
         </li>
         <div ng-controller="productCtrl">
            <li class="dropdown">
            <section ng-repeat="container in containers">
               <a class="dropdown-toggle">
               {{container.component.text}}
               </a><a href="javascript:void(0)" class="btn btn-danger btn-mini" ng-click="$parent.delContainer(container)"><i class="icon-white icon-remove-sign"></i></a>
               <ul class="dropdown-menu">
                  <li ng-repeat="choice in items">
                     <a ng-click="selection(choice, container)">{{choice.text}}</a>					      
                  </li>
               </ul>
               </section>
            </li>
            <section>
            	<button type="button" class="btn displayBlock btn-success" ng-click="addContainer()">Add Container</button>
            </section>
            <div modal="shouldBeOpen" close="close()" options="opts">
               <div class="modal-header">
                  <h3>Set Component Properties</h3>
               </div>
               <div class="modal-body">
                        <h3 class="m5">{{openedContainer.component.text}}</h3>
                           <section ng-show="openedContainer.component.showText">
	                           <input type="text" placeholder="header" class="input" ng-model="openedContainer.component.header" required><br>
	                           <textarea rows="3" placeholder="text content" ng-model="openedContainer.component.textArea" required></textarea>
                           </section>
                           <section ng-show="openedContainer.component.showHotel">
                           <input type="text" placeholder="hotel ids" class="input" ng-model="openedContainer.component.hotelIds" required>
                           <br>
                           </section>
                           <section ng-show="openedContainer.component.showImageWidget||openedContainer.component.showImageText">
	                           <label class="control-label displayInlineBlock w75">Image Width:</label>
	                           <select class="input-small" ng-model="openedContainer.component.width" ng-options="width as width.text for width in widths">
	                              <option value="">-- width --</option>
	                           </select>
	                           <br>
	                           <label class="control-label displayInlineBlock w75">Image Alignment:</label>
	                           <select class="input-small" ng-model="openedContainer.component.align" ng-options="align as align for align in alignments">
	                              <option value="">-- align --</option>
	                           </select>
                           </section>
						   <section ng-show="openedContainer.component.showHotel||openedContainer.component.showAttraction">
	                           <label class="control-label displayInlineBlock w75">Tier:</label>
	                           <select class="input-small" ng-model="openedContainer.component.tier" ng-options="tier as tier.id for tier in tiers">
	                              <option value="">-- tier --</option>
	                           </select>
                           </section>
                           <section class="" ng-show="openedContainer.component.showImageWidget||openedContainer.component.showWidget">
                              <h5>Enabled Tabs</h5>
                              <button type="button" class="btn-mini w75 btn-primary" ng-model="openedContainer.component.tabs.hotel" btn-checkbox>Hotel</button>
                              <button type="button" class="btn-mini w75 btn-primary" ng-model="openedContainer.component.tabs.deal" btn-checkbox>Deal</button>
                              <button type="button" class="btn-mini w75 btn-primary" ng-model="openedContainer.component.tabs.car" btn-checkbox>Car</button>
                              <button type="button" class="btn-mini w75 btn-primary" ng-model="openedContainer.component.tabs.flight" btn-checkbox>Flight</button>
                              <button type="button" class="btn-mini w75 btn-primary" ng-model="openedContainer.component.tabs.ticket" btn-checkbox>Ticket</button>
                           </section>
                     <section>
                     	<button type="button" class="btn displayBlock btn-success" ng-click="setContainer(openedContainer)">Set Container</button>
                     </section>							
               </div><!-- end modal body -->
            </div><!-- end modal div -->
         </div><!-- end productCtrl -->
      </ul>
   </div>
   <!--/.nav-list -->
   <!-- End Sidebar -->  
</section>
<div ng-controller="containerCtrl" id="layoutContainer" class="">
   <a style="display:none;" ng-repeat="btn in buttons" ng-click="addContainer(btn.name)" href="javascript:void(0)" class="btn btn-success btn-small m5 icon-white icon-plus-sign pr20"><i class="icon-white icon-plus-sign"></i> Add {{btn.name}}</a>
   <section class="pt0">
      <div ng-repeat='item in containers' ng-model='newObj[item.id]' class='dropzone ui-widget-content {{item.className}}'></div>
   </section>
</div>
<section ng-controller="submitCtrl">
   <a ng-click="saveLayout()" href="javascript:void(0)" class="btn btn-success m5">Save Layout</a>
   <a ng-click="previewLayout()" href="javascript:void(0)" class="btn btn-action m5">Preview</a>
   <a href="javascript:void(0)" class="btn btn-info m5">Generate Page</a>
</section>