<div class="modal-header">
<h3>Sidebar Properties</h3>
</div>

<div>
 <div ng-repeat="component in components">
 <h4 class="m5">{{component.type}}</h4>
 <input type="text" placeholder="text content" class="input-small" ng-hide="!text" required>
 <input type="text" placeholder="hotel ids" class="input-small" ng-hide="!hotel" required>
 
<select class="input-block-level" ng-model="selectedWidth" ng-options="width as width.text for width in widths"><option value="">-- width --</option></select>
 
	<div class="" ng-hide="!widget">
		<h5>Enabled Tabs</h5>
	    <button type="button" class="btn-mini w75 displayBlock btn-primary" ng-model="checkModel.hotel" btn-checkbox>Hotel</button>
	    <button type="button" class="btn-mini w75 displayBlock btn-primary" ng-model="checkModel.deal" btn-checkbox>Deal</button>
	    <button type="button" class="btn-mini w75 displayBlock btn-primary" ng-model="checkModel.car" btn-checkbox>Car</button>
	    <button type="button" class="btn-mini w75 displayBlock btn-primary" ng-model="checkModel.flight" btn-checkbox>Flight</button>
	    <button type="button" class="btn-mini w75 displayBlock btn-primary" ng-model="checkModel.ticket" btn-checkbox>Ticket</button>
	</div>
	<button type="button" class="btn displayBlock btn-success" ng-click="setContainer(container)">Set Container</button>
</div>
</div><!-- end collapse -->

<div class="modal-footer">
<button ng-click="close(result)" class="btn btn-success" >Save</button>
</div>