<div class="aresProductItemsListWrap">
Attraction IDs: {{container.component.attractionIds}}
	<ul class="aresProductItemsList aresProductTicket aresTicketBoxWithImage">
		<li class="aresProductItem">
			<div class="aresProductItemInner">
				<div class="aresProductImage">
					<div class="aresProductImageInner">
						<img src="http://arestravel.hildingdesign.com/sites/default/files/styles/flexslider_full/public/promos/san-diego-docks-night.jpg">
					</div>
				</div>
				<div class="aresProductInfo">
					<div class="aresProductInfoText">
						<h1>Product Name</h1>
						<p>Product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, mi eu porta ultricies, ligula tellus gravida ipsum, et dapibus leo turpis quis mauris.</p>
					</div>
					<div class="aresProductMore">
						<div class="aresProductPrice">
							<ul class="aresTicketLabels">
								<li><span class="aresTextSmall">Type</span></li>
								<li><span class="aresTextSmall">Gate Price</span></li>
								<li><span class="aresTextSmall">Your Price</span></li>
								<li><span class="aresTextSmall">Quantity</span></li>	
							</ul>
							<ul class="aresTicketPrice">
								<li><span class="aresTicketType">Adult</span></li>
								<li><span>0.00</span></li>
								<li><span>0.00</span></li>
								<li><span>
										<select class="aresTicketQty">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</span>
								</li>	
							</ul>
							<ul class="aresTicketPrice">
								<li><span class="aresTicketType">Child</span></li>
								<li><span>0.00</span></li>
								<li><span>0.00</span></li>
								<li><span>
										<select class="aresTicketQty">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
										</select>
									</span>
								</li>	
							</ul>
						</div>
						<div class="aresProductAction">
							<button>Book Now</button>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
<attraction-dir></attraction-dir>
</div>