<div class="aresProductItemsListWrap {{container.id}}">
Deal IDs: {{container.component.dealIds}}
	<ul class="aresProductItemsList aresProductPackage">
		<li class="aresProductItem cloneElement">
			<div class="aresProductItemInner">
				<div class="aresProductImage">
					<div class="aresProductImageInner">
						<img src="http://arestravel.hildingdesign.com/sites/default/files/styles/flexslider_full/public/promos/san-diego-docks-night.jpg">
					</div>
				</div>
				<div class="aresProductInfo">
					<div class="aresProductInfoText">
						<h1>Product Name</h1>
						<p>Product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, mi eu porta ultricies, ligula tellus gravida ipsum, et dapibus leo turpis quis mauris.</p>
					</div>
					<div class="aresProductMore">
						<div class="aresProductPrice">
							<span class="aresTextSmall">Package includes:</span>
							<span class="aresTextSmall">Item 1</span>
							<span class="aresTextSmall">Item 2</span>
							<span class="aresTextSmall">Item 3</span>
							<span class="aresTextSmall">Item 4</span>							
						</div>
						<div class="aresProductAction">
							<button>Book Now</button>
						</div>
					</div>
				</div>
			</div>
		</li>
		<component-dir></component-dir>
	</ul>
</div>