<div class="aresProductItemsListWrap">
Hotel IDs: {{container.component.hotelIds}}
<ul class="aresProductItemsList aresProductHotel aresTier1">
	<li class="aresProductItem">
		<div class="aresProductItemInner">
			<div class="aresProductImage">
				<div class="aresProductImageInner">
					<img src="http://arestravel.hildingdesign.com/sites/default/files/styles/flexslider_full/public/promos/san-diego-docks-night.jpg">
				</div>
			</div>
			<div class="aresProductInfo">
				<div class="aresProductInfoText">
					<h1>Product Name</h1>
					<p>Product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sollicitudin, mi eu porta ultricies, ligula tellus gravida ipsum, et dapibus leo turpis quis mauris.</p>
				</div>
				<div class="aresProductMore">
					<div class="aresProductPrice">
						<span class="aresTextSmall">Rates from</span>
						<span>$199.99</span>
					</div>
					<div class="aresProductAction">
						<button>Book Now</button>
					</div>
				</div>
			</div>
		</div>
	</li>
</ul>
</div>