
/* General */
section {
    padding-top: 20px;
}

.flR {
	float: right !important;
}

.pt0 {
	padding-top: 0px;
}

.pr20 {
	padding-right: 20px;
}

.m5 {
	margin:5px !important;
}

.mt15px {
	margin-top: 15px !important;
}

.ml200 {
	margin-left: 200px;
}

.h150 {
	height: 150px !important;
}
.w65 {
	width: 65px;
}
.w75 {
	width: 75px !important;
}
.w100 {
	width: 100px;
}
.w120 {
	width: 120px;
}
.displayBlock {
	display: block;
	margin: 5px;
}

.displayInlineBlock {
	display: inline-block;
}
/* Password. */

.is0{background:url(../images/progressImg1.png) no-repeat 0 0;width:138px;height:7px;}
.is10{background-position:0 -7px;}
.is20{background-position:0 -14px;}
.is30{background-position:0 -21px;}
.is40{background-position:0 -28px;}
.is50{background-position:0 -35px;}
.is60{background-position:0 -42px;}
.is70{background-position:0 -49px;}
.is80{background-position:0 -56px;}
.is90{background-position:0 -63px;}
.is100{background-position:0 -70px;}

#passwordStrengthDiv, #passwordStrengthDiv2 {
    float:left;
}

.pointer {
    cursor:pointer;
}

/* Angular */

.componentImg {
	background:url(../images/components/image.png) no-repeat 0 0;width:200px;height:100px;
	display:inline-block;
}
.componentWdgt {
	background:url(../images/components/widget.png) no-repeat 0 0;width:200px;height:100px;
	display:inline-block;
}
.componentTxt {
	background:url(../images/components/text.png) no-repeat 0 0;width:200px;height:100px;
	display:inline-block;
}

.dropzone {
	height: 235px;
	width: 900px;
	margin: 10px;
	border: 1px dotted #aaaaaa !important;
}

/* File Upload Plugin */
.ng-cloak {
  display: none;
}

/* Fixed Sidebar */

.sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:175px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 350px;
}

.widget{background:url(../images/layout/full_bot_tabbed.png) no-repeat 0 0 !important;}
.image{background:url(../images/layout/full_image.png) no-repeat 0 0 !important;}
.text{background:url(../images/layout/full_text.png) no-repeat 0 0 !important;}

/* class name = component type + image alignment + image width */
.image_widgetleft34{background:url(../images/layout/3-4_image_bot_right_tabbed.png) no-repeat 0 0 !important;}
.image_widgetright34{background:url(../images/layout/3-4_image_bot_left_tabbed.png) no-repeat 0 0 !important;}
.image_widgetright12{background:url(../images/layout/1-2_image_bot_left.png) no-repeat 0 0 !important;}
.image_widgetleft12{background:url(../images/layout/1-2_image_bot_right.png) no-repeat 0 0 !important;}
.image_textleft34{background:url(../images/layout/3-4_image_text_right.png) no-repeat 0 0 !important;}
.image_textright34{background:url(../images/layout/3-4_image_text_left.png) no-repeat 0 0 !important;}
.image_textright12{background:url(../images/layout/1-2_image_text_left.png) no-repeat 0 0 !important;}
.image_textleft12{background:url(../images/layout/1-2_image_text_right.png) no-repeat 0 0 !important;}

.hotel1{background:url(../images/layout/tier1-hotels.png) no-repeat 0 0 !important;}
.attraction1{background:url(../images/layout/tier1-tickets.png) no-repeat 0 0 !important;}
.deal1{background:url(../images/layout/tier1-packages.png) no-repeat 0 0 !important;}
.hotel2{background:url(../images/layout/tier2-hotels.png) no-repeat 0 0 !important;}
.attraction2{background:url(../images/layout/tier2-tickets.png) no-repeat 0 0 !important;}
.deal2{background:url(../images/layout/tier2-packages.png) no-repeat 0 0 !important;}
.hotel3{background:url(../images/layout/tier3-hotels.png) no-repeat 0 0 !important;}
.attraction3{background:url(../images/layout/tier3-tickets.png) no-repeat 0 0 !important;}
.deal3{background:url(../images/layout/tier3-packages.png) no-repeat 0 0 !important;}
.hotel4{background:url(../images/layout/tier4-hotels.png) no-repeat 0 0 !important;}
.attraction4{background:url(../images/layout/tier4-tickets.png) no-repeat 0 0 !important;}
.deal4{background:url(../images/layout/tier4-packages.png) no-repeat 0 0 !important;}
.hotel5{background:url(../images/layout/tier5-hotels.png) no-repeat 0 0 !important;}
.attraction5{background:url(../images/layout/tier5-tickets.png) no-repeat 0 0 !important;}
.deal5{background:url(../images/layout/tier5-packages.png) no-repeat 0 0 !important;}
